@custom-media --from-xsmall (min-width: 30em);
@custom-media --from-small (min-width: 48em);
@custom-media --from-medium (min-width: 60em);
@custom-media --from-large (min-width: 80em);
@custom-media --from-xlarge (min-width: 100em);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

custom-element {
  margin-top: 2rem;
  border-color: $border-color;
}

input[type='text'] {
  --cp: #fff;
  $var: #fff;
  display: block;
  color: #333;
  background-color: linear-gradient(var(--cp, #f8f8f8), rgba(0, 0, 0, 0.8));

  @media (--from-medium) {
    border-color: $var;
    background-color: $var;
  }
}

.hank-schrader,
.marie-schrader:not(:first-child) {
  padding: 10px;
  top: calc(calc(1em * 2) / 3);
}

.gustavo-fring {
  font-family: Inconsolata, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
}

.mike-ehrmantraut {
  font-family: giotramu-serif, Didot, 'Bodoni MT', Georgia, serif;
}

/* single-line comment */
@media (orientation: portrait), projection and (color) {
  .gustavo-fring + .mike-ehrmantraut {
    background: color(rgb(0, 0, 0) lightness(50%));
    font-family: giotramu-sans-serif, 'Lucida Grande', 'Segoe UI', Arial,
      sans-serif;
  }
}

/**
	* multi-line comment
	*/
@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .saul-goodman {
    height: 10rem;
    margin: 10px;
    margin-bottom: 15px;
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      #fff 25px,
      rgba(255, 255, 255, 1) 50px
    );
    box-shadow: 0 1px 1px #000, 0 1px 0 #fff, 2px 2px 1px 1px #ccc inset;

    /* flush nested single line comment */
    &::after {
      content: '→';
    }
  }
}

.todd-alquist {
  /* empty block */
}
