/hybrid.d.ts
/hybrid.js
/index.d.ts
/index.js
/scss.d.ts
/scss.js
common/*.d.ts
common/*.js
typings/

.cache
.DS_Store
.env
.env.*
.versions/
*.lock
*.log
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
log.txt
node_modules/
Thumbs.db
UserInterfaceState.xcuserstate
